/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;


$theme: matx.define-theme((
    color: (
        theme-type: light,
        primary: matx.$m3-azure-palette,
    ),
    typography: (
        brand-family: 'sans-serif',
        bold-weight: 900
    ),
    density: (
        scale: -1
    )
));

@tailwind base;
@tailwind components;
@tailwind utilities;

// 
@include mat.core();

html {
    @include mat.all-component-themes($theme);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input.mat-mdc-input-element {
    box-shadow: none;
}

/* Custom transition */
@keyframes transition-out {
    to {
        transform: translateY(-50%);
    }
}

@keyframes transition-in {
    from {
        transform: translateY(50%);
    }
}

app-root > main {
    view-transition-name: principal;
}

::view-transition-old(principal),
::view-transition-new(principal) {
    animation-duration: 350ms;
    animation-name: -ua-view-transition-fade-in, transition-in;
}

::view-transition-old(principal) {
    animation-name: -ua-view-transition-fade-out, transition-out;
}